body {
    background-color: #3C4547;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    font-size: 16px;

}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-weight: 300;
}

main {
    display: flex;    
padding: 20px;
justify-content: center;
align-items: center;
width: 80%;
margin: 0 auto;
}

@media (max-width: 425px) {
    main {
        flex-wrap: wrap;
    }
}

main div {
    padding: 50px;
    min-height: 500px;  
    
}
.title {
background-color: #CEB0B2;
display: flex;
flex-flow: column nowrap;
justify-content: center;
min-width: 30%;

}
.list {
    background-color: #DADADA;
    min-width: 50%;
}
