body {
    background-color: #3C4547;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
p {
    margin: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-weight: 300;
}

.main {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;    
}

@media (max-width: 425px) {
    .main {
        flex-wrap: wrap;
    }
}

.main div {
    padding: 50px;
    min-height: 100vh;
}

.title {
    background-color: #CEB0B2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 30%;
}

.list {
    background-color: #DADADA;
    min-width: 50%;
}

/*week pages*/
.main-week {
    
    display: flex;
    flex-flow: column nowrap;
}

.main-week div {
    padding: 50px;
}

.title-week {
    background-color: #CEB0B2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

.list-week {
    background-color: #DADADA;
}

footer {
    background-color: #493843;
    color: #DADADA;
    padding: 5px 20px;
    text-align: right;
    font-style: italic;
    display: flex;
    justify-content: space-between;
   
}

/* ul>li {
    font-weight: 700;
    font-size: 1.3rem;
} */

li {
    line-height: 2;
}
.letter-list, ol {
list-style-type: lower-alpha;
}